* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  gap: 2rem;
}

.carre {
  height: 0;
  width: 0;
  border: 100px solid red;
}

.triangle {
  display: block;
  height: 0;
  width: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid green;
  border-left: 100px solid transparent;
}

.cercle {
  height: 0;
  width: 0;
  border: 100px solid blue;
  border-radius: 50%;
}

.coeur {
  position: relative;
  left: 100px;
  top: -75px;
}

.coeur::before,
.coeur::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 160px;
  background: crimson;
  border-radius: 80px 80px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.coeur::after {
  left: -100px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.infini {
  position: relative;
  top: -50px;
  left: 325px;
}

.infini::before,
.infini::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border: 20px solid yellow;
  border-radius: 50px 50px 0 50px;
  transform: rotate(135deg);
}

.infini::after {
  border-radius: 50px 50px 50px 0;
  transform: rotate(-135deg);
  right: 15px;
}

.oeuf {
  width: 150px;
  height: 200px;
  background-color: rebeccapurple;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.clip-path-anim {
  width: 300px;
  height: 300px;
  background: url("https://picsum.photos/300/300");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  animation: 3.5s clip-anim infinite;
}

@keyframes clip-anim {
  0% {
    clip-path: polygon(
      40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%
    );
  }
  50% {
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
  }
  100% {
    clip-path: polygon(
      40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%
    );
  }
}

/* Jeux d'Echec, le pion */
.echec {
  width: 500px;
  height: 300px;
  background: green;
  z-index: 10;
}

.pion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 55px;
}

.pion div {
  background: #d86f45;
}

.pion :nth-child(1) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pion :nth-child(2) {
  width: 80px;
  height: 20px;
  border-radius: 20px 20px 35px 35px;
}

.pion :nth-child(3) {
  width: 90px;
  height: 65px;
  z-index: 1;
}

.pion :nth-child(3)::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: green;
  margin: -65px 0 0 -125px;
  z-index: -10;
}

.pion :nth-child(3)::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: green;
  margin: -150px 0 0 65px;
  z-index: -10;
}

.pion :nth-child(4) {
  width: 140px;
  height: 40px;
  border-radius: 20px 20px 10px 10px;
}
