@import "@openfonts/noto-serif-jp_japanese/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strok {
  100% {
    stroke-dashoffset: 400
  }
}

.hiragana {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5em;
}
