* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.resize {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: #caf8e3;
  width: 80%;
  margin: 1rem auto;
  padding: 0.25rem;
}

.resize div {
  margin: 1rem;
  width: 200px;
  height: 100px;
  background: #27e992;
  overflow: hidden;
}

.block1 {
  resize: vertical;
}

.block2 {
  resize: Horizontal;
}

.block3 {
  resize: both;
}
